@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* --font--- */

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --font--color-- */

.dark-01 {
    color: #000000;
}

.dark-02 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

.dark-03 {
    color: #111111;
}

.dark-04 {
    color: #6B7280;
}

.orange {
    color: #E95A08;
}

body {
    margin: 0;
}

header {
    padding: 15px 70px;
}

/* ---navbar--- */

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
}

.menu-item {}

.item-link {
    color: #6B7280;
    text-decoration: none;
}

.home {
    font-weight: 700;
    color: #252432;
}

.Cart {
    color: #000000;
}

/* --banner-section-- */
.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

.banner-content {}

.banner-heading {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.banner-para {
    margin: 20px 0 0 0;
    font-size: 22px;
}

.banner-img {
    height: 100%;
    width: 100%;
}

/* --our-plants-- */

.our-plants {
    text-align: center;
    padding: 20px 70px;
}

.our-plants-content {}

.our-plants-heading {
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
}

.our-plants-cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px 0;
}

.img-cart {
    height: 100%;
    width: 100%;
}

.flower-name {
    font-size: 22px;
    color: #111111;
    margin: 10px 0;
}

.price {
    font-size: 22px;
    color: #111111;
    font-weight: 700;
    margin: 10px 0;
}

.add-to-cart {
    padding: 10px;
    width: 100%;
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    border: none;
}

/* --trusted-seller-- */

.trusted-seller {
    display: flex;
    padding: 80px 70px;
    gap: 60px;
    align-items: center;
}

.seller {}

.trusted-logo {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 1730px;
    left: 440px;
}

.seller-heading {
    font-size: 3.25rem;
    margin: 0;
    font-weight: 700;
}

.seller-content ul {
    color: rgba(0, 0, 0, 0.5);
}

/* latest-deals */

.latest-deal {

    padding: 30px 70px;
}

.latest-deal-main {
    text-align: center;
}

.latest-img-collage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    justify-content: center;


}

.mini-img-heading {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.zabo-img-heading {
    margin: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;

}

.zabo a {
    font-size: 1.5rem;
}

.latest-deal-image {
    border-radius: 0.8rem;
}

.latest-deal-image a {
    color: white;
    font-weight: 600;
}

.mini-img div,
.zabo div {
    position: relative;
    top: 40%;
}

.bloom {
    background-image: url(../assets/deal-bloom.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-blend-mode: multiply;

    height: 200px;
    margin-bottom: 20px;


}

.ana {
    background-image: url(../assets/deal-ana.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    height: 200px;


}

.zabo {
    background-image: url(../assets/deal-zabo.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    height: 420px;
}